@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@bigbinary/neetoui/v2";
@import "react-toastify/dist/ReactToastify.min.css";

$indigo-primary: #6366f1;
$indigo-dark: #5653d8;
$indigo-50: #eef2ff;

.neeto-ui-checkbox[type="checkbox"] {
  color: $indigo-primary !important;
}

.redirection-table {
  background-color: $indigo-50 !important;
  border-spacing: 0px 3px !important;
}

.redirection-table-row {
  background-color: white !important;
}

.bg-indigo-50 {
  background-color: $indigo-50 !important;
}

.neeto-ui-btn--style {
  &-primary {
    background-color: $indigo-primary !important;

    &:hover:not(:disabled),
    &:active {
      background-color: $indigo-dark !important;
    }
  }
}
