@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@bigbinary/neetoui/v2";
@import "react-toastify/dist/ReactToastify.min.css";

$indigo-primary: #6366f1;
$indigo-dark: #5653d8;

.neeto-ui-btn--style {
  &-primary {
    background-color: $indigo-primary !important;

    &:hover:not(:disabled),
    &:active {
      background-color: $indigo-dark !important;
    }
  }
}
